#eliminarTodosButton{
    background-color: "rgba(65,137,230,.15)";
    color: "#3483fa";
    width:"auto";
    float:"right"
}
#Total{
    text-align: "right";
    margin-right: "10px";
}
#Container{
    display: flex;
    flex-direction: column;
    min-height: 70vh;
}
#cardContainer{
    width: 95rem;
    margin-left: auto;
    margin-right: auto;
}
#productos{
    justify-content: center;
    width: 85%;
    height: 50%;
}