#fuentePrecio{
    font-size: 20px;
}
#loading{
    font-size: 20px;
    margin-top: 17%;
    margin-bottom: 18%;
}
#container{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
}
#tituloCard{
    font-size: 30px;
    height: 20%;
}
#alertaStock{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
#agregarCarrito{
    background-color: rgba(65,137,230,.15);
    color: #3483fa;
    width: auto;
}